<a href="https://colab.research.google.com/github/mlites/mlites2019/blob/master/kaggle_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Link to your Google Drive to enable import of data at ```/content/gdrive```

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

# install Pillow
!pip install Pillow==5.3.0

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
Requirement already satisfied: Pillow==5.3.0 in /usr/local/lib/python3.6/dist-packages (5.3.0)

[Setting up Kaggle in Colab](https://towardsdatascience.com/setting-up-kaggle-in-google-colab-ebb281b61463)

1. Sign up for Kaggle if you're not already a member
2. Go to _My Account_
3. Go to _Create New API Token_
4. That will download a file called **kaggle.json**
5. Find the file, open it, and find something like this:

    {“username”:”YOUR-USER-NAME”,”key”:”SOME-VERY-LONG-STRING”}

6. Insert those in the cell below and then run the cell

In [38]:
#import kaggle package
import kaggle

!mkdir .kaggle
!mkdir /content/kaggle

import json
token = {"username":"rec3141","key":"29d453516af66ecbce3917bf83570628"}
with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

!chmod 600 /root/.kaggle/kaggle.json
!cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json
!chmod 600 /content/.kaggle/kaggle.json

!kaggle config set -n path -v/content/kaggle

mkdir: cannot create directory ‘.kaggle’: File exists
- path is now set to: /content/kaggle

Find Kaggle datasets of interest

Kaggle package API details

https://github.com/Kaggle/kaggle-api#datasets

only the first 20 results are shown, additional pages can be shown with the --page flag

In [32]:
!kaggle datasets list --tags oceans #find datasets tagged with 'oceans'
!kaggle datasets list --user noaa #find datasets by user 'NOAA'
!kaggle datasets list --search environment --page 2 #find page 2 of datasets using search term 'environment'
!kaggle datasets list --search alaska

ref                                                           title                                            size  lastUpdated          downloadCount
------------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------
noaa/noaa-icoads                                              NOAA ICOADS                                     171GB  2018-03-13 17:37:47              0
noaa/deep-sea-corals                                          Deep Sea Corals                                  10MB  2017-08-28 17:11:03            408
uciml/el-nino-dataset                                         El Nino Dataset                                   3MB  2016-11-06 21:02:18           1004
teajay/global-shark-attacks                                   Global Shark Attacks                            548KB  2018-07-04 17:59:54           4517
noaa/seismic-waves                                            Tsunami Causes and Waves                        654KB  2017-02-03 04:15:19           1404
unt/disputed-territories                                      Disputed Territories and Wars, 1816-2001         95KB  2017-02-02 01:46:23            141
antgoldbloom/2016-kitefoil-race-results                       2016 and 2017 Kitefoil Race Results              87KB  2017-10-09 02:34:42            184
oewyn000/humpback-whale-fluke-keypoints                       Humpback Whale Fluke Keypoints                  168MB  2019-01-27 02:32:51             96
polinalemenkova/bathymetry-of-the-mariana-trench-25-profiles  Bathymetry of the Mariana Trench (25 profiles)   20KB  2018-12-09 04:30:50              4
sauuyer/alvin-dives                                           Alvin Dives                                     235KB  2018-05-04 16:11:43             17
ref                                                    title                                              size  lastUpdated          downloadCount
-----------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
noaa/gsod                                              NOAA GSOD                                          26GB  2019-03-20 23:17:46              0
noaa/ghcn-d                                            Daily Global Historical Climatology Network        99GB  2019-03-20 23:16:32              0
noaa/goes16                                            NOAA GOES-16                                       24GB  2019-03-20 23:20:37              0
noaa/noaa-global-surface-summary-of-the-day            NOAA Global Surface Summary of the Day              3GB  2019-04-10 09:09:27            393
noaa/noaa-icoads                                       NOAA ICOADS                                       171GB  2018-03-13 17:37:47              0
noaa/noaa-global-historical-climatology-network-daily  NOAA Global Historical Climatology Network Daily   14GB  2019-04-09 18:20:27            291
noaa/noaa-precipitation-15-minute                      NOAA Precipitation 15 Minute                      192MB  2019-04-10 15:06:12            275
noaa/deep-sea-corals                                   Deep Sea Corals                                    10MB  2017-08-28 17:11:03            408
noaa/severe-weather-data-inventory                     Severe Weather Data Inventory                     182MB  2016-10-24 15:34:45            959
noaa/hurricane-database                                Hurricanes and Typhoons, 1851-2014                928KB  2017-01-20 18:15:43           2535
noaa/seismic-waves                                     Tsunami Causes and Waves                          654KB  2017-02-03 04:15:19           1404
noaa/global-historical-climatology-network             Global Historical Climatology Network               4MB  2016-10-24 15:23:05           1354
noaa/noaa-u-s-climatic-normals                         NOAA U.S. Climatic Normals                         10GB  2019-04-08 14:21:12             44
noaa/noaa-severe-weather-data-inventory                NOAA Severe Weather Data Inventory                 18GB  2019-04-07 12:27:11             94
ref                                                           title                                             size  lastUpdated          downloadCount
------------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------
buntyshah/food-environment-atlas-data                         Food Environment Atlas Data                        5MB  2018-07-23 10:48:52             37
marshald/london-boroughs                                      London Borough Demographics                       10KB  2017-06-04 13:45:03            340
freedomhouse/press-freedom                                    Freedom of the Press, 2001-2015                   11KB  2017-02-03 23:30:16            306
usdot/nhtsa-traffic-fatalities                                US Traffic Fatality Records                      585MB  2019-03-20 23:21:02              0
olistbr/brazilian-ecommerce                                   Brazilian E-Commerce Public Dataset by Olist      42MB  2018-11-29 12:22:57          10348
ilknuricke/neurohackinginrimages                              Structural MRI Datasets (T1, T2, FLAIR etc.)     190MB  2017-01-04 20:01:18           2686
census/2013-american-community-survey                         2013 American Community Survey                   888MB  2017-05-01 19:10:03           3872
pitasr/scheduling-in-cloud-computing                          Scheduling in Cloud computing                     49KB  2017-06-11 22:07:18            306
regivm/kernel                                                 Manoeuvring Kaggle Kernel and Data Environment     7KB  2018-08-30 08:03:32              0
sohier/calcofi                                                CalCOFI                                           50MB  2017-08-23 19:24:53           2423
usda/a-year-of-pumpkin-prices                                 A Year of Pumpkin Prices                          16KB  2017-10-24 17:45:33           1458
sampadab17/network-intrusion-detection                        Network Intrusion Detection                      750KB  2018-10-09 09:39:37            223
lamdadev/state-wise-tree-cover-india                          State wise tree cover India                       971B  2016-11-10 17:25:47            147
residentmario/database-of-battles                             Historical Military Battles                      129KB  2017-09-13 20:39:07            667
fschwartzer/tmd-dataset-5-seconds-sliding-window              TMD Dataset - 5 seconds sliding window             3MB  2019-02-05 18:08:10            130
edumagalhaes/quality-prediction-in-a-mining-process           Quality Prediction in a Mining Process            51MB  2017-12-06 21:16:37           1003
sohier/mussel-watch                                           Mussel Watch                                      11MB  2017-09-18 16:19:51            887
ihmstefanini/industrial-safety-and-health-analytics-database  Industrial Safety and Health Analytics Database  160KB  2018-04-12 16:51:07            623
sasanj/virtual-reality-driving-simulator-dataset              Virtual Reality Driving Simulator Dataset          9MB  2017-08-16 14:06:11            157
wcukierski/2016-march-ml-mania                                2016 March ML Mania Predictions                   26MB  2017-11-15 22:36:48           1645
ref                                                title                                             size  lastUpdated          downloadCount
-------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------
mcdonalds/nutrition-facts                          Nutrition Facts for McDonald's Menu                7KB  2017-03-03 13:30:58          11172
iditarod/iditarod-race                             2017 Iditarod Trail Sled Dog Race                 22KB  2017-03-22 15:04:59            165
noriuk/us-educational-finances                     U.S. Educational Finances                         83MB  2018-08-29 23:47:18           1840
rtatman/188-million-us-wildfires                   1.88 Million US Wildfires                        175MB  2017-09-13 22:41:53           3530
openaddresses/openaddresses-us-west                OpenAddresses - U.S. West                        816MB  2017-08-02 22:49:23            368
jamestollefson/alaskaairfields                     Alaska Airport Data                              266KB  2017-04-20 23:33:32            221
noriuk/us-education-datasets-unification-project   U.S. Education Datasets: Unification Project      85MB  2019-03-02 18:41:52           3201
cms/cms-american-indian-alaska-native-aian-health  CMS American Indian/Alaska Native (AIAN) Health  206KB  2019-04-11 03:13:04              8
jboysen/spy-plane-finder                           Spy Plane Finder                                  25MB  2017-08-11 19:13:10            282
hassenmorad/us-state-baby-names                    US State Baby Names                               41MB  2018-09-14 18:25:40             30
theriley106/university-statistics                  University Statistics                             33KB  2018-01-21 23:03:55            549
madaha/people-without-internet                     People without internet                           60KB  2018-01-11 16:20:48            273
johnrvg/election1216                               Election 2016                                    630KB  2018-04-11 16:33:34            103

Now find the specific files you want and download them

Let's see what files are available for the 2017 Iditarod dataset

In [42]:
!kaggle datasets files iditarod/iditarod-race

name         size  creationDate
----------  -----  -------------------
report.csv  139KB  2017-03-22 15:03:30

Let's download all the files, they'll show up in /content/kaggle/datasets

In [43]:
!kaggle datasets download iditarod/iditarod-race

Downloading iditarod-race.zip to /content/kaggle/datasets/iditarod/iditarod-race
  0% 0.00/21.5k [00:00<?, ?B/s]
100% 21.5k/21.5k [00:00<00:00, 18.8MB/s]

In [46]:
#unzip the files
!unzip /content/kaggle/datasets/iditarod/iditarod-race/iditarod-race.zip -d /content/kaggle/datasets/iditarod/iditarod-race/

Archive:  /content/kaggle/datasets/iditarod/iditarod-race/iditarod-race.zip
  inflating: /content/kaggle/datasets/iditarod/iditarod-race/report.csv

In [57]:
#take a quick look

import pandas as pd
d = pd.read_csv('/content/kaggle/datasets/iditarod/iditarod-race/report.csv')
d.shape

(1146, 17)

In [56]:
d.head()

,Number,Name,Status,Country,Checkpoint,Latitude,Longitude,Distance,Time,Speed,Arrival Date,Arrival Time,Arrival Dogs,Elapsed Time,Departure Date,Departure Time,Departure Dogs
0,2,Ryan Redington,Veteran,United States,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:00:00,16.0
1,3,Otto Balogh,Rookie,Hungary,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Misha Wiljes,Rookie,Czech Republic,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:04:00,15.0
3,5,Cody Strathe,Veteran,United States,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:06:00,16.0
4,6,Linwood Fiedler,Veteran,United States,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:08:00,16.0

Import PyTorch, NumPy, MatPlotLib, and Pandas

In [0]:
import torch
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import PIL
print(PIL.PILLOW_VERSION)
print("done")

5.3.0
done