<a href="https://colab.research.google.com/github/mlites/mlites2019/blob/master/kaggle_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Link to your Google Drive to enable import of data at ```/content/gdrive```

# Introduction to Kaggle Datasets

In this exercise, we'll learn how to get data into Colab

First, we'll load up Google Drive

Second, we'll search for data stored on Kaggle's servers

Finally, we'll download the datasets we'll use in this course

## Mounting Google Drive is easy

In [0]:
from google.colab import drive # from PACKAGE import CLASS
drive.mount('/content/gdrive') # mount your Google Drive to the /content/gdrive folder in your VM

## Setting up Kaggle is a bit more complicated
[Setting up Kaggle in Colab](https://towardsdatascience.com/setting-up-kaggle-in-google-colab-ebb281b61463)

1. Sign up for Kaggle if you're not already a member
2. Go to _My Account_
3. Go to _Create New API Token_
4. That will download a file called **kaggle.json**
5. Click *Files* -> *Upload* on the left and upload **kaggle.json**

In [0]:
# install kaggle package

# pip is a python program for installing new packages
# the ! indicates this command is to be run on the system's command line
!pip install kaggle 

# set up key authentication
!mkdir /content/kaggle #!mkdir is the system command to make a new directory
!mkdir ~/.kaggle #the . makes it hidden, this is where our credentials will be stored

# import json #import the json package which is often used to encode data for the web
# token = {"username":"YOUR-USER-NAME","key":"SOME-VERY-LONG-STRING"}
# with open('~/.kaggle/kaggle.json', 'w') as file: #this says to save the string into a file
#     json.dump(token, file)

!mv /content/kaggle.json ~/.kaggle/kaggle.json #copy the file to a place that kaggle expects to find it
!chmod 600 ~/.kaggle/kaggle.json #change the permissions to avoid leaking your credentials

!kaggle config set -n path -v/content/kaggle #setup kaggle to use the /content/kaggle directory we made earlier
!chmod 600 /root/.kaggle/kaggle.json #hide kaggle's copy of the credentials

# finally, import the kaggle package

import kaggle

Find Kaggle datasets of interest

Kaggle package API details

https://github.com/Kaggle/kaggle-api#datasets

only the first 20 results are shown, additional pages can be shown with the --page flag

In [0]:
!kaggle datasets list --tags oceans #find datasets tagged with 'oceans'
!kaggle datasets list --user noaa #find datasets by user 'NOAA'
!kaggle datasets list --search environment --page 2 #find page 2 of datasets using search term 'environment'
!kaggle datasets list --search alaska

ref                                                           title                                            size  lastUpdated          downloadCount
------------------------------------------------------------  ----------------------------------------------  -----  -------------------  -------------
noaa/noaa-icoads                                              NOAA ICOADS                                     171GB  2018-03-13 17:37:47              0
noaa/deep-sea-corals                                          Deep Sea Corals                                  10MB  2017-08-28 17:11:03            409
uciml/el-nino-dataset                                         El Nino Dataset                                   3MB  2016-11-06 21:02:18           1006
teajay/global-shark-attacks                                   Global Shark Attacks                            548KB  2018-07-04 17:59:54           4540
noaa/seismic-waves                                            Tsunami Causes and Waves                        654KB  2017-02-03 04:15:19           1429
unt/disputed-territories                                      Disputed Territories and Wars, 1816-2001         95KB  2017-02-02 01:46:23            141
antgoldbloom/2016-kitefoil-race-results                       2016 and 2017 Kitefoil Race Results              87KB  2017-10-09 02:34:42            184
oewyn000/humpback-whale-fluke-keypoints                       Humpback Whale Fluke Keypoints                  168MB  2019-01-27 02:32:51             96
polinalemenkova/bathymetry-of-the-mariana-trench-25-profiles  Bathymetry of the Mariana Trench (25 profiles)   20KB  2018-12-09 04:30:50              4
sauuyer/alvin-dives                                           Alvin Dives                                     235KB  2018-05-04 16:11:43             19
ref                                                    title                                              size  lastUpdated          downloadCount
-----------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
noaa/ghcn-d                                            Daily Global Historical Climatology Network        99GB  2019-03-20 23:16:32              0
noaa/goes16                                            NOAA GOES-16                                       24GB  2019-03-20 23:20:37              0
noaa/noaa-icoads                                       NOAA ICOADS                                       171GB  2018-03-13 17:37:47              0
noaa/noaa-global-historical-climatology-network-daily  NOAA Global Historical Climatology Network Daily   14GB  2019-04-16 18:20:39            293
noaa/gsod                                              NOAA GSOD                                          26GB  2019-03-20 23:17:46              0
noaa/noaa-precipitation-15-minute                      NOAA Precipitation 15 Minute                      192MB  2019-04-17 15:05:30            283
noaa/deep-sea-corals                                   Deep Sea Corals                                    10MB  2017-08-28 17:11:03            409
noaa/severe-weather-data-inventory                     Severe Weather Data Inventory                     182MB  2016-10-24 15:34:45            959
noaa/hurricane-database                                Hurricanes and Typhoons, 1851-2014                928KB  2017-01-20 18:15:43           2564
noaa/global-historical-climatology-network             Global Historical Climatology Network               4MB  2016-10-24 15:23:05           1363
noaa/seismic-waves                                     Tsunami Causes and Waves                          654KB  2017-02-03 04:15:19           1429
noaa/noaa-severe-weather-data-inventory                NOAA Severe Weather Data Inventory                 18GB  2019-04-07 12:27:11             97
noaa/noaa-u-s-climatic-normals                         NOAA U.S. Climatic Normals                         10GB  2019-04-15 14:39:04             45
ref                                                           title                                             size  lastUpdated          downloadCount
------------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------
buntyshah/food-environment-atlas-data                         Food Environment Atlas Data                        5MB  2018-07-23 10:48:52             39
marshald/london-boroughs                                      London Borough Demographics                       10KB  2017-06-04 13:45:03            344
freedomhouse/press-freedom                                    Freedom of the Press, 2001-2015                   11KB  2017-02-03 23:30:16            307
usdot/nhtsa-traffic-fatalities                                US Traffic Fatality Records                      585MB  2019-03-20 23:21:02              0
olistbr/brazilian-ecommerce                                   Brazilian E-Commerce Public Dataset by Olist      42MB  2018-11-29 12:22:57          10625
ilknuricke/neurohackinginrimages                              Structural MRI Datasets (T1, T2, FLAIR etc.)     190MB  2017-01-04 20:01:18           2696
census/2013-american-community-survey                         2013 American Community Survey                   888MB  2017-05-01 19:10:03           3884
pitasr/scheduling-in-cloud-computing                          Scheduling in Cloud computing                     49KB  2017-06-11 22:07:18            311
regivm/kernel                                                 Manoeuvring Kaggle Kernel and Data Environment     7KB  2018-08-30 08:03:32              2
sohier/calcofi                                                CalCOFI                                           50MB  2017-08-23 19:24:53           2463
usda/a-year-of-pumpkin-prices                                 A Year of Pumpkin Prices                          16KB  2017-10-24 17:45:33           1461
sampadab17/network-intrusion-detection                        Network Intrusion Detection                      750KB  2018-10-09 09:39:37            239
lamdadev/state-wise-tree-cover-india                          State wise tree cover India                       971B  2016-11-10 17:25:47            149
residentmario/database-of-battles                             Historical Military Battles                      129KB  2017-09-13 20:39:07            669
edumagalhaes/quality-prediction-in-a-mining-process           Quality Prediction in a Mining Process            51MB  2017-12-06 21:16:37           1025
sohier/mussel-watch                                           Mussel Watch                                      11MB  2017-09-18 16:19:51            890
fschwartzer/tmd-dataset-5-seconds-sliding-window              TMD Dataset - 5 seconds sliding window             3MB  2019-02-05 18:08:10            142
ihmstefanini/industrial-safety-and-health-analytics-database  Industrial Safety and Health Analytics Database  160KB  2018-04-12 16:51:07            631
sasanj/virtual-reality-driving-simulator-dataset              Virtual Reality Driving Simulator Dataset          9MB  2017-08-16 14:06:11            158
wcukierski/2016-march-ml-mania                                2016 March ML Mania Predictions                   26MB  2017-11-15 22:36:48           1646
ref                                                title                                             size  lastUpdated          downloadCount
-------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------
mcdonalds/nutrition-facts                          Nutrition Facts for McDonald's Menu                7KB  2017-03-03 13:30:58          11237
iditarod/iditarod-race                             2017 Iditarod Trail Sled Dog Race                 22KB  2017-03-22 15:04:59            168
noriuk/us-educational-finances                     U.S. Educational Finances                         83MB  2018-08-29 23:47:18           1848
rtatman/188-million-us-wildfires                   1.88 Million US Wildfires                        175MB  2017-09-13 22:41:53           3565
openaddresses/openaddresses-us-west                OpenAddresses - U.S. West                        816MB  2017-08-02 22:49:23            370
jamestollefson/alaskaairfields                     Alaska Airport Data                              266KB  2017-04-20 23:33:32            223
noriuk/us-education-datasets-unification-project   U.S. Education Datasets: Unification Project      85MB  2019-03-02 18:41:52           3457
cms/cms-american-indian-alaska-native-aian-health  CMS American Indian/Alaska Native (AIAN) Health  208KB  2019-04-15 03:30:17              8
jboysen/spy-plane-finder                           Spy Plane Finder                                  25MB  2017-08-11 19:13:10            284
hassenmorad/us-state-baby-names                    US State Baby Names                               41MB  2018-09-14 18:25:40             30
rec3141/biol342-genome-data                        Decontamination of Microbial Genomes              29MB  2019-04-17 16:32:31              1
theriley106/university-statistics                  University Statistics                             33KB  2018-01-21 23:03:55            570
madaha/people-without-internet                     People without internet                           60KB  2018-01-11 16:20:48            279
johnrvg/election1216                               Election 2016                                    630KB  2018-04-11 16:33:34            105

# Iditarod dataset

Now find the specific files you want and download them

Let's see what files are available for the 2017 Iditarod dataset

In [0]:
!kaggle datasets files iditarod/iditarod-race

name         size  creationDate
----------  -----  -------------------
report.csv  139KB  2017-03-22 15:03:30

Let's download all the files, they'll show up in /content/kaggle/datasets

In [0]:
!kaggle datasets download iditarod/iditarod-race

Downloading iditarod-race.zip to /content/kaggle/datasets/iditarod/iditarod-race
  0% 0.00/21.5k [00:00<?, ?B/s]
100% 21.5k/21.5k [00:00<00:00, 20.3MB/s]

In [0]:
#unzip the files
!unzip /content/kaggle/datasets/iditarod/iditarod-race/iditarod-race.zip -d /content/kaggle/datasets/iditarod/iditarod-race/

Archive:  /content/kaggle/datasets/iditarod/iditarod-race/iditarod-race.zip
  inflating: /content/kaggle/datasets/iditarod/iditarod-race/report.csv

In [0]:
#take a quick look

import pandas as pd
d = pd.read_csv('/content/kaggle/datasets/iditarod/iditarod-race/report.csv')
d.shape

(1146, 17)

In [0]:
d.head()

,Number,Name,Status,Country,Checkpoint,Latitude,Longitude,Distance,Time,Speed,Arrival Date,Arrival Time,Arrival Dogs,Elapsed Time,Departure Date,Departure Time,Departure Dogs
0,2,Ryan Redington,Veteran,United States,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:00:00,16.0
1,3,Otto Balogh,Rookie,Hungary,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,Misha Wiljes,Rookie,Czech Republic,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:04:00,15.0
3,5,Cody Strathe,Veteran,United States,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:06:00,16.0
4,6,Linwood Fiedler,Veteran,United States,Fairbanks,64.8321,-147.813,NaN,0.0,NaN,NaN,NaN,NaN,0.0,03/06/2017,11:08:00,16.0

# BIOL342 Dataset

Now we'll download the data that we'll use for examples in this course

In [0]:
!kaggle datasets list --user rec3141
!kaggle datasets files rec3141/biol342-genome-data
!kaggle datasets download rec3141/biol342-genome-data

ref                          title                                 size  lastUpdated          downloadCount
---------------------------  ------------------------------------  ----  -------------------  -------------
rec3141/biol342-genome-data  Decontamination of Microbial Genomes  29MB  2019-04-17 16:32:31              1
name                    size  creationDate
----------------------  ----  -------------------
biol342_cov_len_gc.tsv   6MB  2019-04-17 16:32:31
biol342_depths.tsv      43MB  2019-04-17 16:32:32
biol342_paired.tsv      12MB  2019-04-17 16:32:32
biol342_tax.tsv          5MB  2019-04-17 16:32:32
biol342_tnf.tsv         79MB  2019-04-17 16:32:28
Downloading biol342-genome-data.zip to /content/kaggle/datasets/rec3141/biol342-genome-data
 31% 9.00M/29.4M [00:00<00:00, 27.0MB/s]
100% 29.4M/29.4M [00:00<00:00, 66.2MB/s]

In [0]:
!unzip /content/kaggle/datasets/rec3141/biol342-genome-data/biol342-genome-data.zip -d ./

Archive:  /content/kaggle/datasets/rec3141/biol342-genome-data/biol342-genome-data.zip
  inflating: ./biol342_paired.tsv
  inflating: ./biol342_tnf.tsv
  inflating: ./biol342_cov_len_gc.tsv
  inflating: ./biol342_tax.tsv
  inflating: ./biol342_depths.tsv

In [0]:
covlengc = pd.read_csv('biol342_cov_len_gc.tsv',sep='\t')
covlengc.shape
covlengc.head(25)

         contig   student      cov     len      gc
0    student0_1  student0  29.0114  255873  0.4995
1    student0_2  student0  31.5053  190425  0.5151
2    student0_3  student0  39.5121  149891  0.5077
3    student0_4  student0  37.9206  135958  0.5212
4    student0_5  student0  34.0143  121845  0.5204
5    student0_6  student0  30.4397  117759  0.5067
6    student0_7  student0  33.0765  114165  0.5210
7    student0_8  student0  40.6539  112487  0.5224
8    student0_9  student0  34.6739   97943  0.5203
9   student0_10  student0  34.1807   96681  0.5237
10  student0_11  student0  30.8479   93818  0.5095
11  student0_12  student0  34.0987   92190  0.5030
12  student0_13  student0  43.4598   88743  0.5262
13  student0_14  student0  36.3573   85173  0.5128
14  student0_15  student0  40.7952   83655  0.5075
15  student0_16  student0  36.0454   83638  0.5089
16  student0_17  student0  40.9907   83564  0.5165
17  student0_18  student0  29.0636   83519  0.4990
18  student0_19  student0  38.2118   81942  0.5101
19  student0_20  student0  35.7632   80054  0.5127
20  student0_21  student0  27.7239   79941  0.5105
21  student0_22  student0  40.2678   73807  0.5160
22  student0_23  student0  38.2217   66969  0.5249
23  student0_24  student0  29.6679   63692  0.5088
24  student0_25  student0  33.2767   62800  0.5232

Import PyTorch, NumPy, MatPlotLib, and Pandas

In [0]:
import torch
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import PIL
print(PIL.PILLOW_VERSION)
print("done")

5.3.0
done